# Project exclude paths
API.d.ts
/node_modules/
test.ts
test.js
test.js.map
/examples/PrivateRequestBuilder/PrivateRequestBuilder.d.ts
/examples/Private Commands/Dispatch/Dispatch.d.ts
/examples/RequestBuilder/RequestBuilder.d.ts
